In [1]:
from monetdbe import connect, Timestamp
from datetime import datetime

In [2]:
con = connect(':memory:', autocommit=True)

In [3]:
cur = con.execute("create table example(d timestamp, i int, f float)")

In [4]:
_ = cur.executemany("insert into example(d, i, f) values (?, ?, ?)", (
    (datetime.now(), 10, float('nan')),
    (Timestamp(2004, 2, 14, 7, 15, 0, 510241), 20, 0.2),
))

In [5]:
_ = cur.execute("select * from example")

In [6]:
cur.fetchdf()

                        d   i    f
0 2020-06-30 17:44:57.270  10  NaN
1 2004-02-14 07:15:00.510  20  0.2